<!DOCTYPE html>
<html>
  <head>
    <title>Sepeda</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/materialize.css' />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script type="text/javascript">var local_data = <%- JSON.stringify(data) %>;</script>
  	<script src="/js/input.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Sepeda</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/about">Tentang</a></li>
          <li><a href="/documentation">Dokumentasi</a></li>
          <li><a href="https://github.com/kevinwinata/sepeda-web">Github</a></li>
        </ul>
      </div>
    </nav>

    <div class="valign-wrapper" style="height:100px;">
      <h5 class="valign center" style="width:100%;">Dosen X</h5>
    </div>

    <div class="container">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s6"><a href="#form1">Input Data</a></li>
            <li class="tab col s6"><a href="#form2">Input Dosen Baru</a></li>
          </ul>
        </div>

        <div id="form1" class="col s12">
          <div class="input-field col s9">
            <select id="class-select">
              <option value="" disabled selected>Pilih jenis data</option>
              <% for(var i=0; i<data.length; i++) {%>
                <% if(data[i].name.substr(0,1) != "O") {%>
                  <option value="<%= i %>"><%= data[i].name %></option>
                <% } %>
              <% } %>
            </select>
            <div id="form-class" class="col s12"></div>
          </div>
          <div class="valign-wrapper col s3" style="height:70px;">
            <a class="btn-floating btn-small waves-effect waves-light valign center red modal-trigger" href="#add-class-modal">
              <i class="material-icons">add</i>
            </a>
          </div>
        </div>

        <div id="form2" class="col s12">
          <form>
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">Nama Depan</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Nama Belakang</label>
            </div>
            <div class="input-field col s12">
              <input id="nip" type="tel">
              <label for="nip">NIP</label>
            </div>
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </form>
        </div>

      </div>
    </div>

    <div id="add-class-modal" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Tambah kelas baru</h4>
        <div class="input-field col s12">
          <input id="new-class" type="tel">
          <label for="new-class">Nama kelas baru</label>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Tambah</a>
      </div>
    </div>
  </body>
</html>
